<h1><%= @station.name %></h1>

<p>Intersection: <%= @station.intersection %></p>
<p>Rating: <%= @station.avg_rating %></p>


<% @station.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
