<div class="header d-flex">
  <%= link_to stations_path, style: "text-decoration: none; color: inherit;" do %>
    <div style="position: sticky; float: left; z-index: 1000; padding-top: 2px; padding-left: 3px">
      <%= image_tag("https://res.cloudinary.com/dutl4fpy7/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1702431816/Remove_background_project_1_xnaqgd.jpg?_s=public-apps",
            width: 48, height: 48, crop: :fill, gravity: :auto,
            radius: "max",
            alt: "logo",
            style: "border-radius: 50%;") %>
    </div>
  <% end %>
</div>
