<div class="header">
  <%= link_to stations_path, class:"header-link ms-2 p-2", style: "text-decoration: none; color: inherit; display: flex; align-items: center;" do %>
      <%= image_tag("https://res.cloudinary.com/dutl4fpy7/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1702431816/Remove_background_project_1_xnaqgd.jpg?_s=public-apps",
            width: 40, height: 40, crop: :fill,
            alt: "logo",
            style: "border-radius: 50%;") %>
      <h1 class="logo-style ms-1 mb-1">waterouais</h1>
  <% end %>
</div>
