<%= link_to stations_path, style: "text-decoration: none; color: inherit;" do %>
  <div class="landing-container vh-100 d-flex flex-column justify-content-center align-items-center" style="background-color: #7FDBE8;">
    <div style="text-align: center;">
      <%= image_tag('logo.gif',
              width: 175, height: 175, gravity: :auto,
              class: "rounded-circle",
              radius: "max",
              alt: "logo") %>
      <h1 class="page-headers">Waterouais</h1>
      <p class="sub-headers">Tap to hydrate</p>
    </div>
  </div>
<% end %>
