.btn-green {
  background-color: #2F8968;
  padding: 0;
  margin: 8px;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 340px;
  height: 40px;
  border-radius: 8px;
  // justify-content: space-around;
  align-items: center;
}

.btn-blue {
  background-color: #0A4374;
  margin: 8px;
  padding: 0;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  width: 340px;
  height: 40px;
  border-radius: 8px;
  align-items: center;
}
