.btn-green {
  background-color: #2F8968;
  padding: 0;
  margin: 8px;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 320px;
  height: 42px;
  border-radius: 8px;
  align-items: center;
}

.btn-blue {
  background-color: #0A4374;
  margin: 8px;
  padding: 0;
  color: #fff;
  font-family: 'Fredoka', sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 320px;
  height: 42px;
  border-radius: 8px;
  align-items: center;

  .btn-blue:hover {
    background-color: #6091bb;
    cursor: pointer;
  }
}

.info-window-button {
  background-color: #0A4374;
  font-family: 'Fredoka', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 52px;
  height: 24px;
  border-radius: 8px;
}
