.mapboxgl-popup {
  width: 280px;
  height: 160px;
}

.mapboxgl-popup-content {
  text-align: left;
  font-family: $body-font;
}

.mapboxgl-popup h2 {
  text-align: center;
  font-family: $headers-font;
}
